.nav-item {
  position: relative;
  display: flex;
  align-items: center;
}

h2::after,
.nav-item::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  background-color: var(--chakra-colors-gray-50);
}

.nav-item:after {
  width: 0;
  transition: width 0.2s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}
